body {
    background: #f9efb4;
}

header,
main,
footer {
    min-width: 855px;
}

main {
    background: rgb(26, 11, 11);
}

header {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

header .container,
main .container,
footer .container {
    max-width: 855px;
    margin: auto;
    overflow: auto;
}

main .description {
    float: left;
    width: 570px;
}

main .image {
    float: right;
    width: 285px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}

* {
    font-family: Droid-sans;
}

h1,
h2,
h3,
h4 {
    font-family: Ubuntu;
}